# environment variables defined inside a .env file
CSV_DATASET_FILENAME=path/to/csv/file
DB_SERVER=uri/to/server
DB_NAME=db/name/to/create
COLLECTION_NAME=collection/name/to/create
INDEXES=COLUMN1/NAME,COLUMN2/NAME,COLUMN3/NAME&COLUMN4/NAME...
 